.features {
	padding: 120px 0 25px;

	@media (max-width: 1200px) {
		padding: 80px 0 30px;
	}

	@media (max-width: 768px) {
		padding: 40px 0 0px;
	}

	&-wrapper {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;

		@media (max-width: 1200px) {
			margin: 0 -10px;
		}

		@media (max-width: 768px) {
			margin: 0px;
		}
	}

}

.feature {
	margin: 0 15px 90px;
	@include third;

	@media (max-width: 1200px) {
		margin: 0 10px 50px;
	}

	@media (max-width: 768px) {
		margin: 0 0px 42px;
		width: 100%;
	}

	&__pic-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		margin: 0 auto;

		@media (max-width: 1200px) {
			width: 90px;
			height: 90px;
		}
	}

	&__title {
		font-size: $h4;
		color: $blacktitle;
		margin: 50px 0 42px;
		text-align: center;

		@media (max-width: 1200px) {
			font-size: $h4desk;
			margin: 45px 0 25px;
		}

		@media (max-width: 768px) {
			margin: 38px 0 10px;
		}
	}

	&__text {
		font-size: $h5;
		color: $featuretext;
		text-align: center;
		font-weight: 400;

		@media (max-width: 1200px) {
			font-size: $h5desk;
		}
	}
}