.our-team {
	padding: 115px 0;

	@media (max-width: 1200px) {
		padding: 80px 0;
	}

	@media (max-width: 768px) {
		padding: 35px 0 40px;
	}

	&__person-cards {
		display: grid;
		grid-template: 100% / repeat(4, 1fr);
		grid-column-gap: 30px;

		@media (max-width: 1200px) {
			grid-column-gap: 25px;
		}

		@media (max-width: 768px) {
			grid-column-gap: 0px;
			grid-row-gap: 55px;
			grid-template: repeat(4, 1fr) / 100%;
		}
	}
}

.person-cards__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__img-wrapper {
	max-width: 270px;
	max-height: 270px;
	overflow: hidden;
	margin: 0 auto 30px;

	@media (max-width: 768px) {
		max-width: initial;
		width: 100%;
		height: 100%;
		max-height: initial;
	}
}

.card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center
}

.card__name {
	font-size: $h4;
	font-weight: 700;
	margin-bottom: 5px;
	color: $blacktitle;

	@media (max-width: 1200px) {
		font-size: $h4desk;
	}
}

.card__prof {
	font-size: $h5;
	font-weight: 400;
	text-transform: uppercase;
	color: $redtitle;
	margin-bottom: 18px;


	@media (max-width: 1200px) {
		font-size: $h5desk;
		height: 32px;
		margin-bottom: 12px;
	}

	@media (max-width: 768px) {
		margin-bottom: 38px;
	}
}

.card__text {
	font-size: $h5;
	font-weight: 400;
	color: $featuretext;
	margin-bottom: 38px;

	@media (max-width: 1200px) {
		font-size: $h5desk;
		margin-bottom: 40px;
	}

	@media (max-width: 768px) {
		margin-bottom: 55px;
	}
}

.card__logo-wrapper {
	display: grid;
	grid-template: 100% / repeat(3, 40px);
	grid-column-gap: 5px;
}

.card__logo {
	width: 40px;
	height: 40px;
	border: 1px solid $icon;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;

	&:hover {
		border: 1px solid $btn-color-hover;
		transform: scale(1.2);
		transition: 0.3s;
	}

	&:hover svg {
		fill: $btn-color-hover;
		transition: 0s;
	}

	& svg {
		fill: $icon;
		transition: 0s;
	}
}