$h1: 64px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 13px;

$h1desk: 48px;
$h3desk: 24px;
$h4desk: 18px;
$h5desk: 14px;
$h6desk: 12px;

$h1mob: 36px;
$h3mob: 18px;
$h4mob: 14px;
$h5mob: 13px;

$white: #FFFFFF;
$black: #000000;
$gray: #808080;
$blacktitle: #2D3033;
$redtitle: #FF4343;
$featuretext: #6C7279;
$icon: #C6CBCD;
$test-bg: #5C3249;
$dot-bg: #7E5D6F;
$foot-bg: #353C65;
$copy-bg: #2C3154;

$nav-line: #BABBC5;
$bg-banner: #252B49;
$nav-active: #E71414;
$btn-color-normal: #FF4343;
$btn-color-hover: #E71414;
$btn-shadow-active: 4px 4px 30px #FF4343;
$work-hover-color: #FF4343;
$work-active-color: #B90C0C;