$h1: 64px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 13px;
$nav-color-normal: #FFFFFF;
$nav-line-hover: #BABBC5;
$nav-active: #E71414;
$btn-color-normal: #FF4343;
$btn-color-hover: #E71414;
$btn-shadow-active: 4px 4px 30px #FF4343;
$work-hover-color: rgba(255, 67, 67, 0.8);
$work-active-color: rgba(185, 12, 12, 0.8);