$h1: 64px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 13px;

$h1desk: 48px;
$h4desk: 18px;
$h5desk: 14px;
$h6desk: 12px;

$h1mob: 36px;
$h4mob: 14px;

$white: #FFFFFF;
$blacktitle: #2D3033;
$featuretext: #6C7279;

$nav-line: #BABBC5;
$bg-banner: #252B49;
$nav-active: #E71414;
$btn-color-normal: #FF4343;
$btn-color-hover: #E71414;
$btn-shadow-active: 4px 4px 30px #FF4343;
$work-hover-color: #FF4343;
$work-active-color: #B90C0C;